{% extends "base.html.twig" %}
{% block body %}

{# Breadcrumb #}
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{{ path('homepage') }}" class="breadcrumb">Home</a>
            {% if userCart %}
            
            <a href="{{ path('cart_show', {'id':userCart.id}) }}" class="breadcrumb">Cart</a>
            {% else %}
            <a href="{{ path('cart_show', {'id':'null'}) }}" class="breadcrumb">Cart</a>
            
            {% endif %}
            <a href="#!" class="breadcrumb">Order</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="section">
        {# Articles #}
        <div class="col s6">
            {% if userCart is not empty and userCart is not null %}

            <h2>Your articles</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalPrice = 0 %}
                    {% for item in userCart.cartlines %}
                    <tr>
                        <td>{{ item.article.name }}</td>
                        <td class="item-price">{{ item.article.price }} €</td>
                        {% set totalPrice = totalPrice + item.article.price %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="bold">Total : </td>
                        <td class="bold net-total">{{ totalPrice|round(2, 'floor') }} €</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        {# User infos #}
        <div class="col s6">
            <h2 class="light">Delivery address</h2>
            {% if deliveryAddress is not null %}
            <h3>{{ deliveryAddress.addressTitle }}</h3>
            <ul>
                <li>
                    <b>{{ deliveryAddress.firstName ~ ' ' ~ deliveryAddress.lastName }} </b>
                </li>
                <li>
                    {{ deliveryAddress.numberStreet ~ ' ' ~ deliveryAddress.streetName }}
                </li>
                <li>
                    {{ deliveryAddress.postalCode }}
                </li>
                <li>
                    {{ deliveryAddress.town }}
                </li>
            </ul>

            {% else %}
            <ul>
                <li><b>{{ app.user.username }}</b></li>
                <li>{{ app.user.numberStreetAddress }} {{ app.user.streetAddress }}</li>
                <li>{{ app.user.postalCode }}</li>
                <li>{{ app.user.town }}</li>
            </ul>
            {% endif %}

            <!-- Modal Triggers -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal-address-change">Change</a>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal-address-add">Add new</a>

            <!-- Modal Structures -->
            {# Change #}
            <div id="modal-address-change" class="modal">
                <div class="modal-content">
                    <h4>Change delivery address</h4>
                    <div class="input-field col s12">
                        {{form(changeAddressForm)}}
                        <label>Select an address for delivery</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Dismiss</a>
                </div>
            </div>

            {# Add #}
            <div id="modal-address-add" class="modal">
                <div class="modal-content">
                    <h4>Add delivery address</h4>
                    {{ form(form) }}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Dismiss</a>
                </div>
            </div>

            {# Confirm #}
            <br><br>
            <li class="divider"></li>
            <br><br>
            {% if deliveryAddress is not null %}
            <a href="{{ path('order_create', {'id':deliveryAddress.id}) }}" class="btn btn-medium waves-effect">Continue
                to payment</a>

            {% else %}
            <a href="{{ path('order_create', {'id':'null'}) }}" class="btn btn-medium waves-effect">Continue to
                payment</a>

            {% endif %}
        </div>
        {% else %}
        You have no order for now
        {% endif %}
    </div>
</div>
{% endblock %}