{% extends "base.html.twig" %}
{% block body %}

{# Breadcrumb #}
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{{ path('homepage') }}" class="breadcrumb">Home</a>
            <a href="{{ path('articles') }}" class="breadcrumb">Cats</a>
            <a href="#!" class="breadcrumb">Cart</a>
        </div>
    </div>
</nav>


<div class="container">
    <div class="section">
        <div class="row">
            {% if items | length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.article.name }}</td>
                        <td class="item-price">{{ item.article.price }} €</td>
                        <td>
                            <input type="number" class="articles-quantity" name="cart-quantity-line" min="0" max="100" value="{{ item.quantity }}">
                        </td>
                        <td class="total-item">{{ item.article.price * item.quantity }} €</td>
                        <td>
                            <a href="#" class="remove-from-cart-btn" data-id="{{ item.article.id }}"><i class="material-icons">delete_forever</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="bold">Total : </td>
                        <td></td>
                        <td></td>
                        <td class="bold net-total">{{ total|round(2, 'floor') }} €</td>
                        <td>
                            {% if app.user %}
                                <a href="{{ path('order_create', {'id':app.user.id}) }}" class="btn btn-medium">Validate</a>
                            {% else %} 
                                <a href="{{ path('app_login') }}" class="btn btn-medium">Validate</a>
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>

            {% else %}

            <p>
                Panier vide
            </p>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}