{% extends "base.html.twig" %}
{% block body %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text title-shadow">Cat Shop</h1>
            <div class="row center">
                <h3 class="header col s12 light title-shadow">Make your life (not) easier !</h3>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn-large" href="{{ path('articles') }}"><i class="material-icons right">shopping_cart</i>Shop
                    now</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{{ asset('assets/images/scratch.png') }}" alt="cat scratch">
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">pets</i></h2>
                    <h5 class="center">Cats are love</h5>

                    <p class="light p-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit fugit
                        adipisci
                        cum exercitationem vero ea illo repellat ipsa illum aliquid. Earum corrupti quis dicta qui dolor
                        dolores id sequi hic! <br> <br>
                        <a href="#">miaou</a>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Cats are family </h5>

                    <p class="light p-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel doloribus
                        fuga reprehenderit perspiciatis et nihil ad esse minima quibusdam natus facilis, aperiam
                        repellendus aspernatur voluptas rem iste sit ducimus earum!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">warning</i></h2>
                    <h5 class="center">Cats are crazy</h5>

                    <p class="light p-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam error
                        similique magni adipisci? Est, delectus aliquam sint explicabo quasi modi eos facilis rem
                        voluptates, labore quaerat consectetur ullam!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light title-shadow">Cats will imprint you for life</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{{ asset('assets/images/paws.png') }}" alt="cat paw">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send black-text"></i></h3>

                {# CATS CARDS #}
                <h4>Our best cats</h4>
                <div class="row">
                    <div class="flex-cards">
                    {% for article in articles %}
                        <div class="custom-col">

                            <div class="card">
                                <a href="{{ path('article_show', {'id':article.id}) }}">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img src="{{ article.image }}">
                                    </div>
                                </a>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{ article.name }}<i
                                            class="material-icons right">more_vert</i></span>
                                            <span class="card-title activator grey-text text-darken-4">{{ article.price }} €</span>
                                    <p><a class="btn-floating btn-large waves-effect waves-light add-to-cart-btn" href="#" data-id="{{ article.id }}"><i class="material-icons right" >shopping_cart</i></a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ article.name }}<i
                                            class="material-icons right">close</i></span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequatur porro
                                        voluptas! Inventore minima id sunt dolorum molestiae, quos ea aliquam in eius
                                        sapiente, omnis excepturi similique, saepe eligendi perferendis!</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light title-shadow">Cats are EVERYWHERE</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{{ asset('assets/images/cats-eyes.png') }}" alt="cat paw">
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send black-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
                    id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
                    ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem
                    neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu
                    mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum
                    ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light title-shadow">M E O W</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{{ asset('assets/images/meow.png') }}" alt="meow">
    </div>
</div>

{% endblock %}